<div align="center">
<h2>list of rabid: </h2>
<div  *ngFor='let user of users' >
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="user.picture.large">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ user.name.first | uppercase }}</h5>
          <p class="card-text">{{ user.email }}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
